<p-table 
  [value]="data()" 
  [loading]="loading()"
  [tableStyle]="{ 'min-width': '50rem' }"
  [pt]="{ root: { class: 'p-datatable-striped' } }"
>
  <ng-template pTemplate="header">
    <tr>
      @for (col of columns(); track col.field) {
        @if (col.sortable) {
          <th [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field" />
          </th>
        } @else {
          <th>{{ col.header }}</th>
        }
      }
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      @for (col of columns(); track col.field) {
        <td>
          @if (isFechaField(col.field)) {
            {{ row[col.field] | date:'dd/MM/yyyy HH:mm' }}
          } @else if (isPrecioField(col.field)) {
            {{ row[col.field] | currency:'USD':'symbol':'1.2-2' }}
          } @else if (isBooleanField(col.field)) {
            <span [class]="row[col.field] ? 'badge-success' : 'badge-danger'">
              {{ row[col.field] ? 'Sí' : 'No' }}
            </span>
          } @else {
            {{ row[col.field] }}
          }
        </td>
      }
      <td>
        <p-button 
          icon="pi pi-eye" 
          [rounded]="true"
          [text]="true"
          severity="info"
          (onClick)="onRowView(row)"
        />
        <p-button 
          icon="pi pi-pen-to-square" 
          [rounded]="true"
          [text]="true"
          severity="warn"
          (onClick)="onRowEdit(row)"
        />
        <p-button 
          icon="pi pi-trash"
          [rounded]="true"
          [text]="true"
          severity="danger"
          (onClick)="confirmDelete($event, row)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
